@keyframes cricleRotate{
    from{
        transform: rotateZ(0);
    }
    to{
        transform: rotateZ(180deg);
    }
}
@keyframes squareScale{
    0%,40%,100%{
        transform: scaleY(1.0);
    }
    20%{
        transform: scaleY(2.0);
    }     
}
:root{
    --main-color:white;
}
body{
    background-color: #6bbcbe;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.circles{
    padding: 65px 0;
    width: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: cricleRotate 1s ease-in-out infinite;  
}
.circle{
    width: 13px;
    height: 13px;
    background-color:var(--main-color);
    border-radius: 50%;
}
.squares{
    padding: 65px 0;
    width: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
}
.square{
    width: 12px;
    height: 60px;
    background-color:var(--main-color);
    animation: squareScale 1s ease-out infinite;    
}
.squares div:nth-child(1){
    animation-delay: 200ms;
}
.squares div:nth-child(2){
    animation-delay: 300ms;
}
.squares div:nth-child(3){
    animation-delay: 400ms;
}
.squares div:nth-child(4){
    animation-delay: 500ms;
}
.squares div:nth-child(5){
    animation-delay: 600ms;
}